.clientes {
    width: 90%;
    margin: auto;
    padding: 10rem 0;
}
.testimonios {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tarjeta-testimonio1,
.tarjeta-testimonio2,
.tarjeta-testimonio3 {
    width: 30%;
    height: 70vh;
    padding: 2rem;
    border-radius: 1rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
}
.tarjeta-testimonio1 {
    background-image: url(/assets/img/first-person.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    
}
.tarjeta-testimonio2 {
    background-image: url(/assets/img/second_person.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.img-test-1 {
    border-radius: 100%;
    background-image: url(/assets/img/first-person.jpg);
    background-position-y: 0.1px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
}

.t-pie {
    background-color: var(--black1);
    border-radius: 1rem;
    width: 100%;
    height: 8rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    
}
.t-pie-3 {
    width: 100%;
    height: 8rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    position: relative;
    top: 13rem;
}

.nombre {
    height: 5rem;
    display: flex;
    flex-direction: column;
}
.gray {
    color: var(--gray);
    font-size: 1.5rem;
}
.t-pie svg {
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
}

.b-color {
     background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
}
.t-google {
    top: 20%;
    /* bottom: 60%; */
}
.t-google {
    color: white;
}
