.pre-footer {
    /* background-color: var(--gray); */
    width: 90%;
    margin: 10rem auto;

}
.app {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.b-descarga {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.descarga {
}

.bold-black {
    font-weight: 600;
    font-size: 2.5rem;
    padding: 2rem 0;
}
.rrss {
    display: flex;
    flex-direction: row;
}
.i-footer {
    display: flex;
    flex-direction: row;
    margin: 0 2rem;
}


footer {
    
}
.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-b {
    margin: 5rem;
    padding: 2rem;

}

.link-b p {
}