.proyectos {
    width: 90%;
    margin: auto;
    /* display: flex;
    flex-direction: column; */
}
.proyecto-despliegue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellowgreen;

}
.tarjeta-proyecto {
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    width: 30%;
    padding: 2rem;
    border-radius: 1rem;
    color: white;
}
.proyecto-reciente {
    background-color: violet;
    width: 60%;
}
.proyecto-img {
    object-fit: cover;
    border-radius: 1rem;
    width: 100%;
    height: 40rem;
}