.proyectos {
    width: 90%;
    margin: auto;
}
.proyecto-despliegue {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.tarjeta-proyecto {
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    width: 30%;
    padding: 2rem;
    border-radius: 1rem;
    color: white;
}
.proyecto-reciente {
    width: 40%;
    height: 40rem;
    position: relative;
}
.proyecto-img {
    object-fit: cover;
    border-radius: 1rem;
    width: 100%;
    height: 40rem;

}
/* .texto-flotante {
    position: relative;
    width: 60%;
    background-color: yellowgreen; */
    /* height: auto; */

/* } */
.titulo-proyecto {
    font-weight: 600;
    font-size: 2.5rem;
}
.titulo-proyecto,
.subtitulo-proyecto {
    color: white;
    position: absolute;
    background-color: rebeccapurple;
    width: 60rem;
    height: 3rem;

 }

