* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    width: 90%;
    margin: auto;
    /* background-color: rgb(221, 221, 221);     */
}

.cabecera {
    padding: 4rem 0;
}
.sub-cabecera-seccion {
    font-size: 2.5rem;
    color: var(--black2);
    font-weight: 400;
}
.contenedor-servicios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    /* flex-wrap: wrap; */
}
.tarjetas-servicios {
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    width: 30%;
    padding: 3rem 0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    text-align: right;
    margin-bottom: 6rem;
    margin-right: 10rem;
    box-shadow: 0 0 6px var(--color_shadow);


}
.img-servicios {
    width: 95%;
    height: 25rem;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}


.subtitulo-tarjeta {
    color: var(--gold1);
    font-weight: 700;
    margin: 25px 0 12px;
    font-size: 2.5rem;
}

.tarjeta-descripcion {
    color: white;
    text-align: left;
    width: 90%;
    margin: 0 auto;
}
.caja-boton {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 40px;
    font-weight: 600;
}

.info-articulos {
    padding: 2rem 0;
    text-align: left;
    color: var(--gray);
}
.boton-servicios {
    width: 100%;
    padding: 1.5rem 2.4rem;
    font-weight: 600;
    font-size: 1.8rem;
    background-color: var(--gold1);
}
/* Sección servicios */



/* medias query */

@media (max-width: 500px) {
    .third-header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .tablet {
        height: auto;
        padding: 0 100px 0;
    
    }
    .contenedor-servicios {
        display: none;
      
    
}



/* @media (max-width: 700px) {
    .third-header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}

@media (max-width: 900px) {
    header div.secondary-header {

    }
} */