/* Generales */
:root {
    --gold1: #F4BD76;
    --gold2: #F6CD8F;
    --gray: #ffffff80;
    --gray2: #f7d9d990;
    --black1: #1A1B1F;
    --black2: #30353B;
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
}
html {
    font-size: 10px;
}
p {
    font-size: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.y-font {
    color: var(--gold1);
}

body {
    font-family: 'Roboto', sans-serif;
}

button {
    background: linear-gradient(180deg, #F7CE90 0%, #F4BD76 100%);
    text-align: center;
    text-decoration: none;
    border-radius: 6px;   
    border: none;
    font-weight: 600;
}

.sub-cabecera-seccion {
    font-weight: 600;
    font-weight: 5rem;
}





/* Contenido intermedio */

